.App {
  text-align: center;
  background-color: #e0f7fa; /* Mintgrün */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #006064; /* Dunkles Cyan */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #4dd0e1; /* Helle Cyan */
}

.myButton {
  background-color: #4dd0e1; /* Helle Cyan */
  color: white; /* Textfarbe */
  border: none; /* Entfernt den Standard-Button-Rahmen */
  padding: 15px 32px; /* Innenabstand */
  text-align: center; /* Zentriert den Text im Button */
  text-decoration: none; /* Entfernt die Unterstreichung */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; /* Ändert den Mauszeiger beim Überfahren des Buttons */
  border-radius: 4px; /* Runde Ecken */
}

.myButton:hover {
  background-color: #006064; /* Dunkles Cyan */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input[type="email"], input[type="password"] {
  width: 200px; /* Volle Breite */
  padding: 12px 20px; /* Ein bisschen Polsterung */
  margin: 8px 0; /* Ein bisschen Rand */
  display: inline-block;
  border: 1px solid #ccc; /* Grauer Rand */
  border-radius: 4px; /* Runde Ecken */
  box-sizing: border-box; /* Damit die Polsterung und der Rand nicht zur Gesamtbreite hinzugefügt werden */
}

